.ext-body{
    width: 400px;
    height: 400px;
}
.login-bg{
    background-color: #a60056;
}
.load-img{
    width: 80px;
    height: 80px;
    display: block;
    margin-top: 180px;
}
.logo{
    color: rgb(255, 255, 255);
    font-family:inherit;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
}

.login-card{
    padding: 20px;
}

.login-btn{
    background-color: #b7005c !important;
    border: none !important;
}

.route-newacc{
    color: aliceblue !important;
    text-align: center !important;
    margin-bottom: 5px !important;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
}

.input-alert{
    color: #a60056;
}

.hello-label{
    color: white;
    margin-top: -7px;
    font-weight: 800;
}

.flr{
    font-size: 38px;
}


.fdash{
    font-size: 20px;
}

.add-container{
    padding: 40px;
    margin-top: -37px;
}
.textarea-height{
height: 70px;
}
.view-btn{
    margin-top: -8px;
    float: right;
    background: #a60056;
    color: white;
    border: 1px solid white;
}
.logout{
    font-size: 13px;
    font-weight: 400;
    color: aliceblue;
    text-decoration: none;
}
.case{
    text-transform: capitalize;
}

.tdesign{
    color: #000 !important;
}

.white{
    color: #fff !important;
}

.center{
    text-align: center !important;
}

.set-area-view{
    width: 800px;
    height: 550px;
}

.search-input{
    margin-left: 145px;
    margin-bottom: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #a60056;
    
}

.search-btn{
    background: #a60056;
    color: white;
    border: 1px solid black;
}

.nodata{
    width: 30%;
    height: 30%;
}  

.prev{
    float: left;
    margin-left: 20px;
}

.next{
    float: right;
    margin-right: 20px;
}

.setpn-btn{
    border: none;
    background: #a60056;
    color: white;
    font-weight: 500
}

.back-icon{
    margin-left: 20px;
    margin-top: 11px;
}

.back-link{
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

.pagination{
    color: #fff;
    margin-left: 21px;
}